{% load socialaccount %}
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} ! <a href="/logout"> Logout </a></p>

  {% else %}
  <h1>My Google Login Project</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
  <h1>My Trello Login Project</h1>
  <a href="{% provider_login_url 'trello' %}">Login with Trello</a>
  {% endif %}


<!--  Show my <a href="/mails"> mails</a>-->
<p>  Select <a href="/boards">destination board and a keyword</a></p>
<!--<p>  <a href="/send_mails_to_trello">Send mails to trello</a></p>-->
<p>  <a href="/check_mails">Check mails</a></p>

<!--<p>  <a href="/change_csv_to_a_list">change_csv_to_a_list</a></p>-->


<!--  <p><a href="mails/">Show mails</a></p>-->
  </body>
</html>