{% load socialaccount %}
<html>
<head>
    <title>Select a board</title>
</head>
<h3>
<h1>Gmail to Trello</h1>
<h2><form action="/save_trello_destination/" method="POST"></h2>
    <p>
<h3>Select a keyword and a board to put mails on:</p></h3>

<div>
    <select onchange="load_lists()" name="board_id" id="board_id" value="{{ board_id }}">
        <option value="" disabled selected> select a board</option>
        {% for board in trello_boards %}
        {% if board.id == selected_id %}
        <option value="{{board.id}}" selected> {{ board.name }}</option>
        {% else %}
        <option value="{{board.id}}"> {{ board.name }}</option>
        {% endif %}
        {% endfor %}
    </select>

    {% if trello_lists and trello_lists|length > 0 %}
    <p>Select a list:</p>
    <select id="list" name="list_id">

        <option value="" disabled selected> select a list</option>
        {% for list in trello_lists %}
        <option value="{{list.id}}"> {{ list.name }}</option>
        {% endfor %}
    </select>

    {% endif %}
</div>
<div>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}

    <p><label for="key_word">Give a keyword to search mails:</label></p>
    <input id="key_word" type="text" name="key_word">

    <input type="submit" value="Submit" name="submit">

</div>

</form>

<script>
    function load_lists() {
    var board_id = document.getElementById("board_id").value;
    console.log(board_id)
    window.location.href = "/boards/" + board_id;
    }

</script>

<div>
    Go to <a href="/index">main page</a>


</div>

</body>
</html>