{% load socialaccount %}
<html>
  <head>
    <title>View boards</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>
<form action="/filter_mails/" method="POST">
    <p>Select a board to put mails on:</p>
  <select onchange="load_lists()" id="table_id" value="{{ board_id }}">
          <option value="" disabled selected> select a board </option>
  {% for board in trello_boards %}
       {% if board.id == selected_id %}
          <option value="{{board.id}}" selected> {{ board.name }}</option>
        {% else %}
          <option value="{{board.id}}"> {{ board.name }}</option>

      {% endif %}

  {% endfor %}
    </select>

 {% if trello_lists and trello_lists|length > 0 %}
    <p>Select a list:</p>
    <select id="list">
            <option value="" disabled selected> select a list </option>
    {% for list in trello_lists %}
            <option value="{{list.id}}"> {{ list.name }}</option>
    {% endfor %}
      </select>

    {% endif %}


        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}

    <div>
        <label for="key_word">Give a keyword to search mails:</label>
        <input id="key_word" type="text" name="key_word">
        <input id="board_id" hidden value="{{board.id}}" type="text" name="board_id">
        <input id="list_id" hidden value="{{list.id}}" type="text" name="list_id">

        <input type="submit" value="Submit" name="submit">
    </div>



</form>


  <script>
    function load_lists() {
    var board_id = document.getElementById("table_id").value;
    console.log(board_id)
    window.location.href = "/boards/" + board_id;
    }


  </script>

  </body>
</html>