{% load socialaccount %}
<html>
  <head>
    <title>View mails</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} ! <a href="/logout"> Logout </a></p>
  <p><a href="{% url 'socialaccount_connections'  %}">Go to social settings</a></p>

  {% else %}
  <h1>My Google Login Project</h1>
  <p>not logged in</p>
  {% endif %}
  Your mails:
  {% for mail in responsemessages %}
        <ul>
            <li> {{ mail }}</li>

        </ul>


  {% endfor %}

<!--  Select table to put mails on:-->
<!--  <select>-->



<!--  {% for table in trellocontent %}-->

<!--          <option value="{{table.id}}"> {{ table.name }}</option>-->

<!--  {% endfor %}-->


<!--    </select>-->
  </body>
</html>